.card
{
   border: 1px solid #e0ebeb;
   border-radius: 5px;
   padding: 10%;
}

.card-body
{
  display: flex;
}

input, textarea
{
  // border: none;
  font-size: 1rem;
  padding: 5px;
  margin: 5px;
  // border-bottom: 1px solid #adadad;
}

button
{
  border: none;
  float: right;
  color: #e0ebeb;
  background-color: rgb(58, 106, 209);
  border-radius: 5%;
}


///

mat-form-field
{
  width: 96%;
  padding: 0 3%;
}

.full-width
{
  width: 90%;
  padding: 0 5%;
}
