<div class="artical" *ngFor="let article of articles">

  <mat-card class="card">
    <mat-card-content class="card-body">

      <div>
        <img [src]='article.imageUrl'/>
      </div>

      <div class="part-2">
         <h3>
           {{ article.title }}
         </h3>
         <div class="meta-info">
           {{article.date | date}}
         </div>
         <div class="content">
          <p [innerHTML]="article.description"></p>
         </div>
          <a routerLink="/{{article.id}}" class="continue-reading">Continue Reading</a>
      </div>

    </mat-card-content>
  </mat-card>
</div>
