.card
{
   border: 1px solid #e0ebeb;
   border-radius: 5px;
   margin-bottom: 10px;
}

.card-body
{
  display: flex;
  padding: 15px;
}

img
{
  max-height: 150px;
  padding: 2px;
  align-items: center;
}

.continue-reading
{
  color: gray;
  text-decoration: none;
}

.continue-reading:hover
{
  color: mediumslateblue;
}

.part-2
{
  padding: 0 1em;
}

.content
{
  width: 400px;
}

.content p
{
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;

}
